@charset "UTF-8";

/*  Mobile First  */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    background-image: url(../imagens/background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}
#login {
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    max-height: 400px;
    margin: 48% auto;
    padding: 20px;
    background: #ffffff8e;
    border-radius: 10px;
    box-shadow: 0 2px 5px #555647;
    text-align: center;
}
#forms h1 {
    margin-bottom: 20px;
    color: #555647;
    font-size: 2em;
}
#forms p {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #2F2E25;
}
#forms input[type="email"],
#forms input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #44443a;
    border-radius: 5px;
    font-size: 1em;
    color: #242424;
}
#forms button[type="submit"] {
    width: 85%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555647;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#forms button[type="submit"]:hover {
    background-color: #ffffff;
    color: #44443a;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #2F2E25;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer a {
    color: #9c9ba1;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}