@charset "UTF-8";

/*  Mobile First 2 */

/*
Paleta de Cores:
- Primária: #555647
- Secundária: #44443a
- Fundo: #d1cec7 
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: #d1cec7;
    width: 100vw;
    height: 100vh;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 520px;
    background-color: #555647;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s, height .3s ease;
}
#login > #ft {
    display: block;
    background: #d1cec7 url(../imagens/background-4.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
#login > #forms {
    display: block;
    padding: 10px;
    color: #ffffff;
}
#login > #forms h1 {
    text-align: center;
    margin-bottom: 20px;
}
#login > #forms p {
    margin: 10px 0 5px 5px;
    font-size: 17px;
    text-align: center;
}
form > .campo {
    margin: 10px 0;
}
form > .campo > label {
    display: none
}
form > .campo > .material-symbols-outlined {
    vertical-align: sub;
    color: #d1cec7;
    font-size: 1.5em;
    margin-left: 5px;
}
form > .campo > input[type="email"],
form > .campo > input[type="password"] {
    width: 81%;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
form > input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border: none;
    cursor: pointer;
    background-color: #d1cec7;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
}
form > input[type="submit"]:hover {
    background-color: #ffffff;
    color: #555647;
    transition: background-color 0.3s ease;
}
.btn {
    color: #ffffff;
    text-decoration: none;
    text-align: right;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 17.5px;
}
.btn:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}